<!-- Split Header for Wider Devices----------------------------------------- -->
<div class="hidden-xs">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="row">

      <div class="col-xs-4 container-fluid">
        <div class="navbar-brand">
          <!--Back to website list-->
          <a href="#/user/{{model.userId}}/website" class="navbar-link"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="navbar-link">Websites</a>
        </div>
        <p class="navbar-text pull-right">
          <!--Link to new website-->
          <a class="navbar-link" href="#/user/{{model.userId}}/website/new"><span class="glyphicon glyphicon-plus"></span></a>
        </p>
      </div>

      <div class="col-xs-8 container-fluid">
        <div class="navbar-brand">
          <a class="navbar-link">New Website</a>
        </div>
        <p class="navbar-text pull-right">
          <!--Confirm details and create the website-->
          <a ng-click="model.createWebsite()" class="navbar-link"><span class="glyphicon glyphicon-ok"></span></a>
        </p>
      </div>

    </div>
  </nav>
</div>

<!-- Non-Split Header for Smaller Devices----------------------------------- -->
<div class="visible-xs">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-brand">
        <!--Back to website list-->
        <a href="#/user/{{model.userId}}/website" class="navbar-link"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="navbar-link">New Website</a>
      </div>
      <p class="navbar-text pull-right">
        <!--Confirm details and create the website-->
        <a ng-click="model.createWebsite()" class="navbar-link"><span class="glyphicon glyphicon-ok"></span></a>
      </p>
    </div>
  </nav>
</div>

<div class="container-fluid">
  <div class="hidden-xs vert_line"></div>

  <div class="row">


    <!--Left panel containing the website list-->
    <div class="hidden-xs col-xs-4">
      <div class="container-fluid padding">

        <div ng-repeat="website in model.websites" class="padding-vert">
          <a href="#/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
          <a class="pull-right" href="#/user/{{model.userId}}/website/{{website._id}}"><span class="glyphicon glyphicon-cog"></span></a><br>
        </div>
      </div>
    </div>


    <!--Right panel containing details for the new website-->
    <div class="col-xs-12 col-sm-8 padding">
      <!--name-->
      <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.name" type="text" class="form-control" id="name" placeholder="Name">
      </div>
      <!--description-->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea ng-model="model.description" class="form-control" id="description" placeholder="Description" rows="5"></textarea>
      </div>
    </div>


  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-text pull-right">
      <a href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a>
    </div>
  </div>
</nav>
