body { padding-top: 51px; }
input.form-control { margin-bottom: 5px; }

/* Customizing the navbar */
.navbar { background-color: #2b7fc5; }
.navbar a { color: white!important; }
.navbar span { color: white!important; }

/* Margin for links */
/* Immediate child divs should be rows */
.padding { padding: 15px; }
.padding-vert {
    padding-top: 5px;
    padding-bottom: 5px;
}
.padding-vert-more {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Vertical separator for sidebar */
.vert_line {
    width: 1px;
    background-color: grey;
    left: 33%;
    position: absolute;
    z-index: 10;
    top: 0px;
    bottom: 0px;
}

/* Force inline */
.inline { display: inline; }
