<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">Profile</a>
        <p class="navbar-text pull-right">
            <a ng-click="model.updateUser()"
                    class="navbar-link"><span class="glyphicon glyphicon-ok"></span></a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <h1>Profile</h1>

    <form>
        <!--Username-->
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <!--Email address-->
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <!--First Name-->
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
        </div>
        <!--Last Name-->
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.lastName" type="text" class="form-control" id="last-name"
                   placeholder="Wonderland">
        </div>
    </form>

    <!--model.error-->
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <!--model.success-->
    <div ng-show="model.success" class="alert alert-success" role="alert">
        {{model.success}}
    </div>
    <!--Websites Button-->
    <a class="btn btn-primary btn-block"
       href="#/user/{{model.userId}}/website">Websites</a>
    <!--Logout Button-->
    <a class="btn btn-danger btn-block"
       href="#/login">Logout</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.user._id}}"><span class="glyphicon glyphicon-user"></span></a>
        </div>
    </div>
</nav>
