<div class="container-fluid">
    <h1>Register</h1>
    <!--username-->
    <input ng-model="model.username"
           type="text"
           class="form-control"
           placeholder="username"/>
    <!--password-->
    <input ng-model="model.password"
           type="password"
           class="form-control"
           placeholder="password"/>
    <!--verify password-->
    <input ng-model="model.verifyPassword"
           type="password"
           class="form-control"
           placeholder="verify password"/>
    <!--model.error-->
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <!--Register button-->
    <a ng-click="model.register()"
       class="btn btn-primary btn-block"
    >Register</a>
    <!--Cancel button-->
    <a class="btn btn-danger btn-block"
       href="#/">Cancel</a>
</div>
