<div class="container-fluid padding">
    <!--headerName-->
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <!--headerText-->
    <div class="form-group">
        <label for="title">Text</label>
        <input ng-model="model.widget.text" type="text" class="form-control" id="title" placeholder="Text">
    </div>
    <!--headerSize-->
    <div class="form-group">
        <label for="size">Size</label>
        <input ng-model="model.widget.size" type="text" class="form-control" id="size" placeholder="3">
    </div>
    <!--Delete button-->
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</div>
